[submodule "go/streaming_data_analysis_go/resources/streaming-data-analysis-go"]
	path = go/streaming_data_analysis_go/resources/streaming-data-analysis-go
	url = https://content.oreilly.com/OLT/streaming-data-analysis-go.git
[submodule "js/javascript/JavaScript30"]
	path = js/javascript/JavaScript30
	url = git@github.com:mohanraj-r/JavaScript30.git
[submodule "js/react/learning-react-oreilly/resources/learning-react"]
	path = js/react/learning-react-oreilly/resources/learning-react
	url = https://github.com/MoonHighway/learning-react.git
[submodule "js/react/react-16-essentials/resources/React-Essentials-Second-Edition"]
	path = js/react/react-16-essentials/resources/React-Essentials-Second-Edition
	url = https://github.com/PacktPublishing/React-Essentials-Second-Edition.git
[submodule "js/react/react-d3-course"]
	path = js/react/react-d3-course
	url = https://github.com/colinmegill/react-d3-course
[submodule "js/react/react_quickly/resources/react"]
	path = js/react/react_quickly/resources/react
	url = https://github.com/azat-co/react.git
[submodule "js/d3/D3.js_4.x_Data_Visualization/resources/D3.js-4.x-Data-Visualization"]
	path = js/d3/D3.js_4.x_Data_Visualization/resources/D3.js-4.x-Data-Visualization
	url = git@github.com:PacktPublishing/D3.js-4.x-Data-Visualization.git
[submodule "js/d3/D3.js_4.x_Data_Visualization/resources/learning-d3-v4"]
	path = js/d3/D3.js_4.x_Data_Visualization/resources/learning-d3-v4
	url = git@github.com:aendrew/learning-d3-v4.git
[submodule "js/d3/interactive-data-visualization/resources/d3-book"]
	path = js/d3/interactive-data-visualization/resources/d3-book
	url = git@github.com:alignedleft/d3-book.git
[submodule "architecture/api/graphql/Rethinking REST: A hands-on guide to GraphQL and queryable APIs/resources/rethinking-rest"]
	path = architecture/api/graphql/Rethinking REST: A hands-on guide to GraphQL and queryable APIs/resources/rethinking-rest
	url = git@github.com:ariannedee/rethinking-rest.git
[submodule "postgres/digging-deeper-with-postgresql/inheritance/resources/PostgreSQL_func_script_inheritance"]
	path = postgres/digging-deeper-with-postgresql/inheritance/resources/PostgreSQL_func_script_inheritance
	url = https://github.com/Jess88/PostgreSQL_func_script_inheritance.git
[submodule "postgres/digging-deeper-with-postgresql/performance/resources/PostgreSQL_Org_processes_and_eval_performance"]
	path = postgres/digging-deeper-with-postgresql/performance/resources/PostgreSQL_Org_processes_and_eval_performance
	url = https://github.com/Jess88/PostgreSQL_Org_processes_and_eval_performance.git
[submodule "kubernetes/9stepstoawesomewithkubernetes/resources/9stepsawesome"]
	path = kubernetes/9stepstoawesomewithkubernetes/resources/9stepsawesome
	url = git@github.com:burrsutter/9stepsawesome.git
[submodule "kubernetes/practical-kubernetes/resources/go-demo-2"]
	path = kubernetes/practical-kubernetes/resources/go-demo-2
	url = git@github.com:vfarcic/go-demo-2.git
[submodule "kubernetes/practical-kubernetes/resources/k8s-specs"]
	path = kubernetes/practical-kubernetes/resources/k8s-specs
	url = git@github.com:vfarcic/k8s-specs.git
